.faq-container {
  width: 60%;
  margin: 60px auto;
  text-align: center;
}

.faq-container h1 {
  color: var(--zelena);
}

.faq-item {
  border: 1px solid var(--zelena);
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: left;
  background-color: var(--skoroBijela);
  padding: 10px;
  overflow: hidden;
}

.faq-question {
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  color: var(--zelena);
  transition: 0.3s ease;
}

.faq-question:hover {
  color: var(--tamnoZelena);
}

.faq-answer-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

.faq-answer {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  padding-right: 10px;
}

.faq-question {
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  color: var(--zelena);
  transition: 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  font-size: 28px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) { /* Tablet */
  .faq-container {
    width: 80%;
    margin: 40px auto;
  }

  .faq-container h1 {
    font-size: 28px;
  }

  .faq-item {
    padding: 12px 15px;
  }

  .faq-question {
    font-size: 20px;
  }

  .faq-answer {
    font-size: 16px;
  }

  .faq-icon {
    font-size: 24px;
  }
}

@media (max-width: 600px) { /* Mobilni */
  .faq-container {
    width: 95%;
    margin: 30px auto;
  }

  .faq-container h1 {
    font-size: 24px;
  }

  .faq-item {
    padding: 10px 12px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 15px;
  }

  .faq-icon {
    font-size: 22px;
  }
}