.navbar-admin {
  background-color: var(--zelena);
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-left a {
  margin-right: 20px;
  color: var(--bez);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.admin-left a:hover {
  color: var(--tamnoZelena);
}

.admin-right .logout-link {
  color: var(--bez);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.admin-right .logout-link:hover {
  color: var(--tamnoZelena);
}
