.fp-container {
  display: flex;
  height: 100vh;
  background: var(--bez);
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Image */
.fp-image {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.fp-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Form */
.fp-form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  background-color: var(--skoroBijela);
  border-radius: 8px;
}

.fp-form h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  color: var(--tamnoZelena);
}

.fp-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: var(--tamnoZelena);
}

/* Input */
.fp-group {
  margin-bottom: 20px;
}

.fp-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--tamnoZelena);
}

.fp-group input {
  width: 95%;
  padding: 10px 14px;
  border: 1px solid var(--tamnoZelena);
  border-radius: 6px;
  outline: none;
}

.fp-group input:focus {
  border-color: var(--tamnoZelena);
}

/* Button */
.fp-button {
  width: 100%;
  background-color: var(--zelena);
  color: white;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fp-button:hover {
  background-color: var(--tamnoZelena);
}

.fp-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Back */
.fp-back {
  text-align: center;
  margin-top: 40px;
}

.fp-back a {
  color: var(--tamnoZelena);
  text-decoration: none;
  font-weight: 500;
}

.fp-back a:hover {
  text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .fp-container {
    flex-direction: column;
  }

  .fp-image {
    width: 100%;
    height: 200px;
  }

  .fp-form {
    padding: 20px;
  }
}


.fp-error {
  color: #c0392b;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.fp-success {
  color: #2ecc71;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}