.navbar-worker {
  background-color: var(--zelena);
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.worker-left {
  display: flex;
  align-items: center;
}

.worker-left a{
  color: var(--bez);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
}

.worker-left a:hover {
  color: var(--tamnoZelena);
}


.worker-right {
  display: flex;
  align-items: center;
  /* gap: 15px;  ukloni ako nema drugih elemenata desno */
}

.logout-wrapper {
  display: flex;
  align-items: center;
  gap: 6px; /* razmak između badge i teksta */
  cursor: pointer;
  color: var(--bez);
  font-weight: 600;
  transition: color 0.3s ease;
}

.logout-wrapper:hover {
  color: var(--tamnoZelena);
}

.logout-wrapper .badge1 {
  color: white;
  padding: 2px 8px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
}