.banner-slider1 {
  position: relative;
  width: 65%;
  aspect-ratio: 3/1;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.banner-wrapper1 {
  display: flex;
  width: 100%;
  height: 100%;
  will-change: transform; /* Poboljšava performanse animacije */
}

/* Stil za svaku sliku */
.banner-wrapper1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background: white;
}

/* Ostali CSS ostaje isti */
.banner-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: var(--zelena);
  font-size: 50px;
  cursor: pointer;
  z-index: 3;
}

.banner-button.left {
  left: 10px;
}

.banner-button.right {
  right: 10px;
}

.banner-button:hover {
  color: var(--tamnoZelena);
}

.banner-wrapper1 {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
}

.banner-wrapper1.right {
  transition: transform 0.8s ease;
}

.banner-wrapper1.left {
  transition: transform 0.8s ease;
}

@media (max-width: 1024px) {
  .banner-slider1 {
    width: 90%;
    aspect-ratio: 3/1;
  }
}

/* Mobilni portret (ekrani uspravno) */
@media (max-width: 600px) {
  .banner-slider1 {
    width: 90%;
    aspect-ratio: 4 / 4; /* kvadrat */
    max-height: none; /* pusti da aspect-ratio diktira visinu */
  }
}
