body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bez);
}

.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.login-image {
  width: 50%;
  height: 100vh; /* Visina celog ekrana */
  overflow: hidden;
  position: relative;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ovo će napraviti da slika lepo popuni ceo div */
  object-position: center; /* Centriraj sliku */
  display: block;
}
.login-form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  background-color: var(--skoroBijela);
  border-radius: 8px;
}

.login-form h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: var(--tamnoZelena);
}

.form-group {
  width: 100%; /* isto kao input */
  margin: 0 auto; /* centrirano */
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  width: 100%;
  color: var(--tamnoZelena);
  margin-bottom: 8px;
}

.form-group input {
  width: 95%; /* sada 100% unutar .form-group */
  padding: 10px 14px;
  border: 1px solid var(--tamnoZelena);
  border-radius: 6px;
  outline: none;
}

.form-group input:focus {
  border-color: var(--tamnoZelena);
}

.form-remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-remember input {
  margin-right: 8px;
}

.form-remember label {
  color: var(--tamnoZelena);
}

.form-forgot {
  margin-bottom: 20px;
  text-align: right;
}

.form-forgot a {
  color: var(--tamnoZelena);
  text-decoration: none;
}

.form-forgot a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  background-color: var(--zelena);
  color: white;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--tamnoZelena);
}

.form-signup {
  margin-top: 20px;
  text-align: center;
}

.form-signup a {
  color: var(--tamnoZelena);
  text-decoration: none;
}

.form-signup a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (min-width: 1024px) {
  .login-image {
    display: block;
  }
}

.form-remember input[type="checkbox"] {
  accent-color: var(--tamnoZelena);
}

.back-to-home {
  text-align: center;
  margin-top: 50px;
}

.back-to-home a {
  color: var(--tamnoZelena);
  text-decoration: none;
  font-weight: 500;
}

.back-to-home a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .login-image img {
    width: 100%;
    height: auto;
  }

  .login-form {
    width: 100%;
    padding: 20px;
  }
}