.navbar {
  background-color: var(--zelena);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left .logo {
  width: 100px;
}
.navbar a {
  text-decoration: none;
  color: var(--bez);
  padding: 8px 15px;
  font-size: 120%;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: var(--tamnoZelena);

  transform: scale(1.05);
}

.center a,
.right a {
  margin: 0 15px;
  font-weight: 500;
}

.cart span {
  font-weight: bold;
  margin-left: 5px;
  color: var(--bez);
}

.cart:hover {
  color: var(--tamnoZelena);
}

.cart:hover .cart-count {
  color: var(--tamnoZelena);
}
