body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bez);
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.registration-form {
  width: 100%;
  max-width: 600px;
  background-color: var(--skoroBijela);
  padding: 40px;
  border-radius: 10px;
  z-index: 1;
}

.registration-form h1 {
  text-align: center;
  color: var(--tamnoZelena);
  margin-bottom: 30px;
}

.registration-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.registration-group {
  flex: 1 1 45%; /* 2 inputa po redu */
  display: flex;
  flex-direction: column;
}

.registration-group label {
  margin-bottom: 8px;
  color: var(--tamnoZelena);
}

.registration-group input {
  padding: 10px;
  border: 1px solid var(--tamnoZelena);
  border-radius: 6px;
  outline: none;
}

.registration-group input:focus {
  border-color: var(--zelena);
}

.registration-link {
  width: 100%;
  text-align: center;
}

.registration-link a {
  color: var(--tamnoZelena);
  text-decoration: none;
}

.registration-link a:hover {
  text-decoration: underline;
}

.registration-button {
  width: 100%;
  background-color: var(--zelena);
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration-button:hover {
  background-color: var(--tamnoZelena);
}

/* Responsive */
@media (max-width: 768px) {
  .registration-group {
    flex: 1 1 100%;
  }
}

.back-to-home {
  text-align: center;
  margin-top: 50px;
}

.back-to-home a {
  color: var(--tamnoZelena);
  text-decoration: none;
  font-weight: 500;
}

.back-to-home a:hover {
  text-decoration: underline;
}
