.triple-banner-slider {
  position: relative;
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
}

.triple-banner-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: transform 0.8s ease;
}

.triple-banner-group {
  display: flex;
  width: 33.3333%; /* default: 3 u redu */
  height: 100%;
}

.triple-banner-slide {
  flex: 1;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  aspect-ratio: 4 / 5;
}

.triple-banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.triple-banner-slide:hover img {
  transform: scale(1.02);
}

.triple-banner-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: var(--zelena);
  font-size: 50px;
  cursor: pointer;
  z-index: 3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triple-banner-button.left {
  left: 10px;
}

.triple-banner-button.right {
  right: 10px;
}

.triple-banner-button:hover {
  color: var(--tamnoZelena);
}

.triple-banner-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Tablet: po 2 bannera */
@media (max-width: 1024px) {
  .triple-banner-group {
    width: 50%;
  }
}

/* Telefon: po 1 banner */
@media (max-width: 600px) {
  .triple-banner-slider {
    aspect-ratio: 4/3;
    max-height: none;
  }

  .triple-banner-group {
    width: 100%; /* jedan cijeli red zauzima */
  }
}
