.terms-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 40px 0;
}
.terms-sidebar {
  width: 20%;
  position: sticky;
  top: 20px; /* ključno */
  background-color: var(--zelena);
  border-style: double;
  border-color: var(--tamnoZelena);
  border-radius: 5px;
  padding: 20px 0;
  height: fit-content;
}

.terms-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.terms-sidebar li {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  color: var(--tamnoZelena);
  font-weight: bold;
  font-size: 20px;
}

.terms-sidebar li:hover {
  text-decoration: underline;
}

.terms-content {
  width: 80%;
}

.terms-content section {
  margin-bottom: 60px;
}

.terms-content h2 {
  margin-bottom: 10px;
  color: var(--tamnoZelena);
}

.terms-content p {
  line-height: 1.7;
  font-size: 20px;
}
