/* App.css */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

html {
  scroll-padding-top: 120px; /* visina navbar-a */
  scroll-behavior: auto; /* PROMIJENI SA smooth NA auto */
}